@{
    <div class="prueba pb-3 align-content-center text-center mt-5" style="color: cornflowerblue">
        <img src="~/assets/img/medicine.png" />
        <h1>Dr. @Model</h1>
    </div>
    <div class="prueba pb-3 align-content-center text-center mt-5" >
        <h4 class="text-dark mt-5 mb-3">
            Welcome to the pacient manager web site for our doctors.
            <br />
            <br />
            Here you can manage medical appointments, diagnoses, vaccinations and allergies.
            <br />
            <br />
            A place where you can have control of the health of your patient.
        </h4>
    </div>
    <div>
        <table class="table table-bordered border-primary align-content-center text-center">
            <thead class="table-dark">
                <tr>
                    <th>Appointment</th>
                    <th>Vaccine</th>
                    <th>Allergy</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>
                            <img src="~/assets/img/appointment.png"/>
                        </td>
                        <td>
                            <img src="~/assets/img/syringe.png" />
                        </td>
                        <td>
                            <img src="~/assets/img/eye-dropper.png" />
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
}
